@media (min-width: 768px) {
    #POPUP1018 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #BUTTON_TEXT1026 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #IMAGE1573 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1760 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #HEADLINE1834 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1830 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1832 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1813 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2040 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2041 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2042 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2043 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2046 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2047 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2048 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2053 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #THANHPHAN {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #CAMNHAN {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #HEADLINE2236 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #HEADLINE268 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2437 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2438 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2439 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SECTION2446 {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}

@media (max-width: 767px) {
    #BUTTON_TEXT1026 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #IMAGE1573 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1735 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1750 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1756 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1757 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1760 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1761 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #GROUP1830 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE1813 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2040 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2041 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2042 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2043 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2046 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2047 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2048 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2053 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #THANHPHAN {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #CAMNHAN {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #HEADLINE2236 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #HEADLINE268 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2437 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2438 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SHAPE2439 {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    #SECTION2446 {
        opacity: 0 !important;
        pointer-events: none !important;
    }
}